@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');


*{

    font-family: "Freeman" sans-serif;

}

html, body{
    margin: 0;
    padding:0;

    background-color:var(--color-60);

}

.main-body {
    height:calc(100vh - 10rem);
    padding-bottom:10rem;
}

#line {
    border-bottom: 1 px solid var(--color-10);
}

h1 {
    text-align: center;
    margin: 1rem;
}

a{
    font-size: 1.3rem 0.5;
    color: var(--color-10);
    text-decoration: none;    
}

btn {
    text-decoration: none;
    font-size: 1.2rem;
    color:#fff;
}