@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');


*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: "Freeman" sans-serif;
}

body{
    background-color:var(--color-60);
    height:80%;
}

#line {
    border-bottom: 1 px solid var(--color-10);
}

h1 {
    text-align: center;
    margin: 1rem;
}

a{
    font-size: 1.3rem 0.5;
    color: var(--color-10);
    text-decoration: none;
    
    background-image: linear-gradient(var(--link-color-hover), var(--link-color-hover));
    background-size:0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 1s ease,
     font-size 0.5s ease-in-out; ;
    

}
a:hover {
    color:var(--link-color-hover);
    font-size: 1.4rem;
    background-size: 100% 0.1em;
    
    
}

btn {
    text-decoration: none;
    font-size: 1.2rem;
    color:#fff;
}