:root {

    //App Colours
    --color-main:#6b98b8;
    --color-head-foot:#6b98b8;
    --link-color-before:#b3cde0;
    --link-color-hover:#005b96;
    --link-color-after:#eee;
    --line-color:#395d77;
}