:root {

    //App Colours

    // 60%
    --color-60:#439a86;

    // 30%
    --color-30:#222e50;

    // 10%
    --color-10:#e9d985;





    
    --link-color-hover:#bcd8c1;
    --link-color-after:#eee;
    --line-color:#395d77;
}