<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
        <div class="container1">
            <span class="landing-picture">
                <i class="bx bx-edit "></i>
                <p>Find me in app/views/pages/landing.html.erb
                </p>
            </span>

                <p id="cont1-text">
                <strong>Lorem ipsum dolor sit amet,</strong> consectetur adipiscing
                elit. Sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                    
                </p>
        </div>
        <div class="container2">
        This is the second container for the landing page
        </div>
        <script src="" async defer></script>
    </body>
</html>